@font-face {
  font-family: PokemonGB;
  src: url(../../assets/fonts/PokemonGb-RAeo.ttf);
}
html {
  scroll-behavior: smooth;
  font-family: PokemonGB;
  height: 90%;
  background-image: url(../assets//battle-pads.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 5%;
  font-size: 3rem;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 6rem;
  }
}

.stats {
  display: flex;
  width: 100%;
  max-height: 12rem;
  justify-content: space-between;
}

.health-card {
  width: 40%;
  height: 100%;
  background-color: khaki;
  border-radius: 1.5rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  border: 6px solid black;
}
.health-card--left {
  margin-left: 3rem;
}
.health-card--right {
  margin-right: 3rem;
}
.health-card__name {
  font-size: 1.5rem;
  margin: 2rem 2rem 0 2rem;
}
@media screen and (min-width: 1280px) {
  .health-card__name {
    margin: 2rem 2rem 0 2rem;
    font-size: 2rem;
  }
}
.health-card__level {
  font-size: 1.5rem;
  margin: 2rem 2rem 0 2rem;
}
@media screen and (min-width: 1280px) {
  .health-card__level {
    margin: 2rem 2rem 0 2rem;
    font-size: 2rem;
  }
}
.health-card__bar-section {
  width: 100%;
  display: flex;
  background: black;
  border-radius: 10rem;
  margin: 1rem;
}
.health-card__bar-text {
  line-height: 2rem;
  vertical-align: bottom;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: orange;
  font-weight: bold;
  vertical-align: center;
}
.health-card__bar {
  background: black;
  width: 100%;
  height: 2rem;
  margin: 1rem 0 1rem 0;
  border-radius: 3rem;
  border: 7px solid white;
}
.health-card__bar-life {
  border-radius: 3rem;
  height: 100%;
  width: 80%;
  background: green;
}

.pokemon-section {
  width: 100%;
  margin-top: 20%;
  display: flex;
  justify-content: space-around;
}

.pokemon-player1 {
  height: 100%;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.pokemon-player2 {
  height: 100%;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce-2 {
  -webkit-animation-name: bounce-2;
          animation-name: bounce-2;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bounce-2 {
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}

@keyframes bounce-2 {
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}/*# sourceMappingURL=battle.css.map */